*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    color: inherit;
}

section{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('pexels-photo-280277.jpeg') ;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.clock{
    position: absolute;
    height: 90vh;
    width: 90vw;
    background-color: white;
    border-radius: 3px;
    top: 5%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Cinzel Decorative', cursive;
}

.clock p{
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 5px;
    color: #323232;
    font-family: 'Cinzel Decorative', cursive;
}

.clock h2{
    width: 90%;
    letter-spacing: 2px;
    color: #323232;
    font-size: 2rem;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

.clock ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 93.5%;
    border-bottom: 2px solid #323232;
    padding-bottom: 25px;
}

.clock ul li{
    font-weight: bold;
    font-size: 2rem;
    color: #323232;
    text-transform: capitalize;
    font-family: 'Cinzel Decorative', cursive;
}

.clock h6{
    font-weight: bold;
    font-size: 5rem;
    color: #323232;
    font-family: 'Cinzel Decorative', cursive;
}

.clock ol{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.clock ol li{
    font-weight: bold;
    font-size: 2rem;
    color: #323232;
    text-transform: capitalize;
    font-family: 'Cinzel Decorative', cursive;
}

.clock h3{
    width: 95%;
    letter-spacing: 3px;
    color: #323232;
    font-size: 2rem;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 10px;
}
